* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 768px;
  align-items: center;
  padding: 20px;
  gap: 100px;
}

nav {
  align-self: flex-end;
  font-size: 30px;
}

h1 {
  align-self: flex-start;
  font-size: 50px;
}

nav:hover {
  color: green;
  transition-duration: 0.5s;
  transform: scale(1.1);
}
